In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

class disp(object):
    template = '<div style="float: left;padding:10px;"> <b>[{0}]</b> {1}</div>'
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join( self.template.format(a, eval(a)._repr_html_()) 
                        for a in self.args)

def prt(*pVPK) :
    print(*pVPK, sep = '\n\n', end = '\n\n')

    
import pandas as pd
import numpy as np

### [예제1] rename(): Index 변경

In [ ]:
# [1]

df = pd.DataFrame([['kim',90],['lee',80]], columns=['n','s'], index=[10,11])

r1 = df.rename({10:'A'}).rename({'n':'name','s':'score'},axis=1)
r2 = df.rename(index={10:'A'}, columns={'n':'name','s':'score'}) 

disp('df', 'r1', 'r2')

In [ ]:
# [2]

df = pd.DataFrame([['kim',90],['lee',80]], columns=['n','s'], index=[10,11])

r3 = df.rename(index = float)
r4 = df.rename(index = lambda x: x+1, columns=str.upper)

disp('df', 'r3', 'r4')

In [ ]:
# [3]

df = pd.DataFrame([['kim',90],['lee',80]], columns=['n','s'], index=[10,11])
r5 = df.add_prefix('@').add_suffix('#')

disp('df', 'r5')

In [ ]:
# [4]

df = pd.DataFrame([['kim',90],['lee',80]], columns=['n','s'], index=[10,11])

sr = df['n']
r6 = sr.rename('name')
r7 = sr.set_axis([500, 501])
sr; r6; r7

### [예제2] copy와 inplace parameter

In [ ]:
# [1] 

df = pd.DataFrame([['kim',90],['lee',80]], columns=['n','s'], index=[10,11])
df
df1 = df.rename(columns = {'n':'name1'}) #inplace=False, copy=True
df.loc[10, 's'] = 100

disp('df', 'df1')

In [ ]:
# [2] 

df = pd.DataFrame([['kim',90],['lee',80]], columns=['n','s'], index=[10,11])
df
df2 = df.rename(columns = {'n':'name2','s':'score'}, copy=False) #inplace=False
df.loc[10, 's'] = 100

disp('df', 'df2')

In [ ]:
# [3]

df = pd.DataFrame([['kim',90],['lee',80]], columns=['n','s'], index=[10,11])

df3 = df.rename(columns = {'n':'이름'}, inplace = True) # copy무의미 
df.loc[10, 's'] = 100

print(df3)

### [예제3] set_index() 메서드 이해

* 새로운 index 설정 후 dataframe 반환(copy)

In [5]:
# [1]

df = pd.DataFrame([['kim',1,20],['lee',2,30]], columns=['name','id','age'])

r1 = df.set_index(np.array(['A','B']))  # np.array dtype=string 가능
r2 = df.set_index(pd.RangeIndex(10,12, name='id'))
r3 = df.set_index(pd.Series([10,11], name='id'))

df; disp('r1', 'r2', 'r3')

  name  id  age
0  kim   1   20
1  lee   2   30

In [6]:
# [2]

df = pd.DataFrame([['kim',1,80],['lee',2,70]], columns=['name','id','age'])

r4 = df.set_index('name')
r5 = df.set_index(['name','id']) # multi-index 생성. name : level=0, id : level=1
r6 = df.set_index('name',drop=False).set_index('id',append=True) # name을 index로 & name열그대로 -> id도 index로 추가

prt(r5.index, r6.index)
disp('df', 'r4', 'r5', 'r6')

MultiIndex([('kim', 1),
            ('lee', 2)],
           names=['name', 'id'])

MultiIndex([('kim', 1),
            ('lee', 2)],
           names=['name', 'id'])

### [예제4] reset_index() 메서드 이해

In [ ]:
df = pd.DataFrame([['kim',1,80],['lee',2,70]], columns=['name','id','exam'])
df = df.set_index(['name', 'id'])

r1 = df.reset_index(level = 0)  # level=0인 name을 column으로 넣음
r2 = df.reset_index(0)          # level=0인 name을 column으로 넣음
r3 = df.reset_index('name')     # level=0인 name을 column으로 넣음
r4 = df.reset_index(level = (0,1)) # level=0,1인 name과 id를 column으로 넣고, 새로운 rangeindex 생성
r5 = df.reset_index()              # level=0,1인 name과 id를 column으로 넣고, 새로운 rangeindex 생성
r6 = df.reset_index(level = 1, drop = True) # level=1인 id를 column으로 넣고, 그 컬럼 drop

disp('df', 'r1', 'r2', 'r3')
disp('r4', 'r5', 'r6')

### [예제5] reindex() 동작

In [ ]:
# [1]

d = {'name':['kim','lee','park'], 'id':[10,12,15],'kor':[100,90,80], 'eng':[88,66,99]}
df = pd.DataFrame(d).set_index('name')
df

r1 = df.reindex(['park', 'song', 'kim'])
r2 = df.reindex(['park', 'song', 'kim'], fill_value=0)
r3 = df.reindex(['id', 'eng'], axis=1)
r4 = df.reindex(index=['park', 'kim'], columns=['id','eng'])

disp('r1', 'r2', 'r3', 'r4')

In [ ]:
# [2]

d = {'name':['kim','lee'],'id':[11,12],'day':['2020-12-22','2020-12-24']}
df2 = pd.DataFrame(d).set_index('day').rename(index=np.datetime64)

day = pd.date_range('2020-12-21','2020-12-25')
r5 = df2.reindex(day, fill_value=0)

disp('df2', 'r5')

### [예제6] sort_index(), sort_value() 동작

In [ ]:
# [1]

df = pd.DataFrame({'id':[10,20,15,25], 'sex':list('WWMM'), 
                   'age':[30,50,20,10]}, index=['kim','lee',np.nan,'park'])

r1 = df.sort_index()
r2 = df.sort_index(axis=1, ascending=False)
r3 = df.sort_index(na_position='first')

disp('df','r1', 'r2', 'r3')

In [ ]:
# [2-1]

r4 = df.sort_values('id', ascending=False)
r5 = df.sort_values(['sex','id'])
r6 = df.sort_values(['sex','id'],ascending=[True,False])

disp('r4', 'r5', 'r6')

In [ ]:
# [2-2]

r7 = df.sort_values('park', axis=1) #error
r8 = df.loc[:, ['id','age']].sort_values('park', axis=1)

disp('df', 'r8')

### [예제7]  df.T attrribute의 동작

In [ ]:
df = pd.DataFrame({'id':[10,20,15,25], 'sex':list('WWMM'), 
                   'age':[30,50,20,10]}, index=['park','kim','lee','song'])

r1 = df.T
r2 = df.T.sort_index(axis=1)

disp('df', 'r1', 'r2')