In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

def prt(*pVPK) :
    print(*pVPK, sep = '\n', end = '\n')

class disp(object):
    template = '<div style="float: left;padding:10px;"> <b>[{0}]</b> {1}</div>'
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join( self.template.format(a, eval(a)._repr_html_()) 
                        for a in self.args)
    
import pandas as pd
import numpy as np 
from datetime import datetime, timedelta, date,time
import calendar

### [예제1] datetime 모듈

In [2]:
# [1]

from datetime import datetime, timedelta, date, time
r1 = date(2020, 1,15)
r2 = time(10,30,50,445566)
r3 = datetime(2020,1,15,10,30,45,445566)
r4 = datetime(2020,1,15) - datetime(2020,1,1)
r5 = datetime(2020,1,15) + timedelta(days=10)
r6 = datetime.now()
r7, r8 = r6.date(), r6.time()
r9 = r6.year, r6.month, r7.day
r10 = r6.hour, r6.minute, r6.second

print('r1=>', r1)
print('r2=>', r2)
print('r3=>', r3)
print('r4=>', r4)
print('type(r4)=>', type(r4))
print('r5=>', r5)
print('r6=>', r6)
print('r7=>', r7)
print('r8=>', r8)
print('r9=>', r9)
print('r10=>', r10)

r1=> 2020-01-15
r2=> 10:30:50.445566
r3=> 2020-01-15 10:30:45.445566
r4=> 14 days, 0:00:00
type(r4)=> <class 'datetime.timedelta'>
r5=> 2020-01-25 00:00:00
r6=> 2023-07-10 14:58:53.689756
r7=> 2023-07-10
r8=> 14:58:53.689756
r9=> (2023, 7, 10)
r10=> (14, 58, 53)

### [예제2] Timestamp 객체

In [3]:
# [1]

r1 = pd.Timestamp('2023-3-1')
r2 = pd.Timestamp(year=2023,month=3,day=1) 
r3 = pd.Timestamp(2023, 3, 1, 12, 30, 50)
r4 = pd.Timestamp(100, unit='d')
r1; r2; r3; r4

Timestamp('2023-03-01 00:00:00')

Timestamp('2023-03-01 00:00:00')

Timestamp('2023-03-01 12:30:50')

Timestamp('1970-04-11 00:00:00')

In [4]:
# [2]

ts = pd.Timestamp('2023-3-1')
print(ts.dayofyear, ts.weekofyear)
print(ts.year, ts.month, ts.day)
print(ts.is_month_start, ts.is_leap_year)
print(ts.day_name(), ts.month_name())
print(ts.strftime('%Y/%m/%d'))
print(pd.Timestamp.now())

60 9
2023 3 1
True False
Wednesday March
2023/03/01
2023-07-10 14:59:27.327737

### [예제3] Timestamp.strftime()메서드

In [5]:
t = pd.Timestamp('2020-1-15 12:20:45')
print( t.strftime('%m-%d-%y') )
print( t.strftime('%B-%d-%y %a') )
print( t.strftime('%x %X') )
print( t.strftime('%Y-%m-%d %H:%M:%S') )

01-15-20
January-15-20 Wed
01/15/20 12:20:45
2020-01-15 12:20:45

### [예제4] Timedelta() 함수

In [6]:
# [1-1]

r1 = pd.Timestamp('2023-3-1') - pd.Timestamp('2023-1-1')
r2 = pd.Timestamp('2020-3-1') + pd.Timedelta(days=20)
r3 = pd.Timestamp('2020-3-1') + pd.Timedelta(20, unit='d')
r4 = pd.to_timedelta([5, 7, 10], unit='d')
r1; r2; r3; r4

Timedelta('59 days 00:00:00')

Timestamp('2020-03-21 00:00:00')

Timestamp('2020-03-21 00:00:00')

TimedeltaIndex(['5 days', '7 days', '10 days'], dtype='timedelta64[ns]', freq=None)

In [7]:
# [1-2]
# date_range(start,end,periods,freq) : 고정빈도로 연속된 날짜/시간으로 구성된 DatetimeIndex 객체를 반환

dt = pd.date_range('2023-3-1', '2023-3-31', freq='2W')
r5 = dt + pd.Timedelta('1 days 2 hours 3 minutes')
r6 = dt + pd.to_timedelta([5, 10], unit='s')
r7 = dt - dt[0]
dt; r5; r6; r7

DatetimeIndex(['2023-03-05', '2023-03-19'], dtype='datetime64[ns]', freq='2W-SUN')

DatetimeIndex(['2023-03-06 02:03:00', '2023-03-20 02:03:00'], dtype='datetime64[ns]', freq=None)

DatetimeIndex(['2023-03-05 00:00:05', '2023-03-19 00:00:10'], dtype='datetime64[ns]', freq=None)

TimedeltaIndex(['0 days', '14 days'], dtype='timedelta64[ns]', freq=None)

### [예제5] pd.to_datetime() 함수

In [10]:
# [1-1]

r1 = pd.to_datetime('01-03-2023', dayfirst=True)
r2 = pd.to_datetime('01/03/2023', format='%d/%m/%Y')
r3 = pd.to_datetime(['2023-3-1', '2023-13-2'], errors='coerce') # errors='coerce: 잘못된구문은 NaT로
r4 = pd.to_datetime([1,2], unit='D', origin='2023-03-01') # 
r1; r2; r3; r4

Timestamp('2023-03-01 00:00:00')

Timestamp('2023-03-01 00:00:00')

DatetimeIndex(['2023-03-01', 'NaT'], dtype='datetime64[ns]', freq=None)

DatetimeIndex(['2023-03-02', '2023-03-03'], dtype='datetime64[ns]', freq=None)

In [11]:
# [1-2]

r5 = pd.date_range('2023-3-1', '2023-3-31',freq='2W') # 3월1일 있는 주의 일요일부터 2W
r6 = r5.day
r7 = r5.day_name()
r8 = r5.strftime('%b-%d')
r5; r6; r7; r8

DatetimeIndex(['2023-03-05', '2023-03-19'], dtype='datetime64[ns]', freq='2W-SUN')

Int64Index([5, 19], dtype='int64')

Index(['Sunday', 'Sunday'], dtype='object')

Index(['Mar-05', 'Mar-19'], dtype='object')

In [12]:
# [2]

df = pd.DataFrame({'year':2023,'month':3,'day':[1,5,7]})
sr = pd.Series(['March 1, 2023','03/02/2023'])
r9 = pd.to_datetime(df)
r10 = pd.to_datetime(sr)
df; sr; r9; r10

   year  month  day
0  2023      3    1
1  2023      3    5
2  2023      3    7

0    March 1, 2023
1       03/02/2023
dtype: object

0   2023-03-01
1   2023-03-05
2   2023-03-07
dtype: datetime64[ns]

0   2023-03-01
1   2023-03-02
dtype: datetime64[ns]

### [예제6] read_csv()로 파일을 읽어와 DatetimeIndex객체로 변환

In [13]:
r1 = pd.read_csv('data/05_01_01.csv',parse_dates=True,index_col='birth')
r2 = pd.read_csv('data/05_01_01.csv',parse_dates=['birth'],index_col='birth')
prt(type(r1.index), type(r2.index))
disp('r1', 'r2')

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

### [예제7] DateOffset()

In [14]:
r1 = pd.date_range('2021-1-1',periods=2, freq=pd.DateOffset(days=2))
r2 = pd.date_range('2021-1-1',periods=2, freq=pd.offsets.Day(2))
r3 = pd.date_range('2021-1-1',periods=2, freq='2D')
r1; r2; r3

DatetimeIndex(['2021-01-01', '2021-01-03'], dtype='datetime64[ns]', freq='<DateOffset: days=2>')

DatetimeIndex(['2021-01-01', '2021-01-03'], dtype='datetime64[ns]', freq='2D')

DatetimeIndex(['2021-01-01', '2021-01-03'], dtype='datetime64[ns]', freq='2D')

### [예제8] DateOffset 객체의 이해

In [15]:
import calendar
print(calendar.month(2021,1)) # 2021-1월 달력

    January 2021
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [17]:
# [1]

ts = pd.Timestamp('2021-1-10 09:00:00') 
# r1 = ts - 4 # error
r2 = ts - pd.DateOffset(days=4)
r3 = ts - pd.offsets.Day(4)
r4 = ts + pd.offsets.Week(2, weekday=4)
r5 = ts + pd.offsets.MonthEnd()
r6 = ts + pd.offsets.YearEnd(month=6)
prt(r2, r3, r4, r5, r6)

2021-01-06 09:00:00
2021-01-06 09:00:00
2021-01-22 09:00:00
2021-01-31 09:00:00
2021-06-30 09:00:00

In [18]:
# [2]

dt = pd.to_datetime(['2021-1-1','2021-1-2'])
r7 = dt + pd.DateOffset(months=2)
r8 = pd.Series(dt) + pd.DateOffset(months=2)
print(type(pd.DateOffset(months=2)))
r7;r8

<class 'pandas._libs.tslibs.offsets.DateOffset'>

DatetimeIndex(['2021-03-01', '2021-03-02'], dtype='datetime64[ns]', freq=None)

0   2021-03-01
1   2021-03-02
dtype: datetime64[ns]

### [예제9] Frequency alias

In [19]:
print(calendar.month(2021,2)) # 2021년 2월 달력

t = pd.Timestamp('2021-2-12') 
r1 = pd.date_range(t,periods=2, freq='W-Sat')
r2 = pd.date_range(t,periods=2, freq='WOM-2Sat')
r3 = pd.date_range(t,periods=2, freq='Q-FEB')
r4 = pd.date_range(t,periods=2, freq='BA-FEB')
r1; r2; r3; r4

   February 2021
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28

DatetimeIndex(['2021-02-13', '2021-02-20'], dtype='datetime64[ns]', freq='W-SAT')

DatetimeIndex(['2021-02-13', '2021-03-13'], dtype='datetime64[ns]', freq='WOM-2SAT')

DatetimeIndex(['2021-02-28', '2021-05-31'], dtype='datetime64[ns]', freq='Q-FEB')

DatetimeIndex(['2021-02-26', '2022-02-28'], dtype='datetime64[ns]', freq='BA-FEB')

### [예제10] Period 객체

In [20]:
# [1]

p1 = pd.Period('2021-5', freq='M')
r1 = p1 + 2
p1; r1

Period('2021-05', 'M')

Period('2021-07', 'M')

In [21]:
# [2]

dt = pd.date_range('2021-01', periods=2, freq='M')
p2 = pd.PeriodIndex(['2021-01', '2021-02'], freq='M')
p3 = pd.period_range('2021-01', periods=2, freq='M')

r3 = p2 + pd.offsets.MonthEnd(2)
r4 = p2.to_timestamp(how='end')
r5 = dt.to_period()
dt; p2; p3; r3; r4; r5

DatetimeIndex(['2021-01-31', '2021-02-28'], dtype='datetime64[ns]', freq='M')

PeriodIndex(['2021-01', '2021-02'], dtype='period[M]')

PeriodIndex(['2021-01', '2021-02'], dtype='period[M]')

PeriodIndex(['2021-03', '2021-04'], dtype='period[M]')

DatetimeIndex(['2021-01-31 23:59:59.999999999', '2021-02-28 23:59:59.999999999'], dtype='datetime64[ns]', freq=None)

PeriodIndex(['2021-01', '2021-02'], dtype='period[M]')